.container {
  background-color: #a1683a;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}
.cart-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
}
.items,
button.reset,
button.refresh,
button.zero,
button.increment,
button.decrement,
button.delete,
button.add {
  font-size: 2rem;
  font-weight: 600;
  border: 1px solid black;
  padding: 1rem;
  background-color: #eed2cc;
  margin: 0rem 1rem;
  border-radius: 10px;
}
button.reset,
button.refresh,
button.increment,
button.decrement,
button.delete,
button.add {
  background-color: #6c9a8b;
}

.item-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 3rem;
}
